h1, h2, h3, h4, h5, h6 {
  color: #8B0000;
}
p {
  color: #FFFAFA
}
iv {
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
body  {
    background-image: url('untitled.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
