h1, h2, h3, h4, h5, h6 {
  color: #8B0000; font: 36px Impact, sans-serif; text-align: center;
}
p {
  color: #FFFAFA; font: 18px Georgia, serif; text-align: center;
}
a {
    color: #8B0000; font: 36px Georgia, serif; text-align: center;
}

/*div1 {
    width: 1200px;
    height: 500px;
    padding: 50px;
    border: 1px solid red;
}*/
/*div1 {
    width: 1200px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}*/
body {
    outline: #8B0000 solid ;
}

iv {
    width: 70px;
    height: 300px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
body  {
    background-image: url('untitled.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    outline: #8B0000 solid ;
    background-color: #4d4d4d;
    background origin: content-box;
    background-position: center;
}
